PORT=3001

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

PIX_PROVIDER=mock

EFI_CLIENT_ID=
EFI_CLIENT_SECRET=
EFI_CERT_PATH=
EFI_PIX_KEY=

MERCADO_PAGO_ACCESS_TOKEN=

ADMIN_SECRET=dev-secret-token
WEBHOOK_SECRET=
